//color palette
$black: #000304;
$white: #FFF5F7;
$red: #D32D2D;
$green: #4BCD39;
$blue: #3976CD;
body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 40px;
}

nav {
    grid-area: 1 / 1 / 1 / 1;
    background-color: $black;
    p {
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        margin: auto;
        color: $white;
        font-size: 1.5em;
    }
}